## Assignment 01

#### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*, 'hello', -87.8, -, /, +, 6

**Ans:** There are four expressions and three values, They are:

Expressions: *, -, /, + <br>
Values: 'hello', -87.8, 6

#### 2. What is the difference between string and variable?

**Ans:** The main difference between string and variable is: A variable is like a container which stores the information and a string is a type of information, it can be stored in a variable. A string is usually words, enclosed with 'single' quotes or with "double" quotes. The = symbol is known as the assignment operator. It is also possible to declare a variable and assign it a value in the same line.

#### 3. Describe three different data types.

**Ans:** There are eight Built-in data types in python, I'm going to describe three of these:
1. Text type: str
This data type are usually words enclosed with 'single' quotes or with "double" quotes.

2. Numeric type: int, float and complex data types are usually numbers e.g.:-
x = 20 ----- int
x = 20.5 ---- float
x = 20j ---- complex

3. Sequence type: list, tuple, range are Sequence Data Types are used to store data in containers in the Python computer language.

#### 4. What is an expression made up of? What do all expressions do?

**Ans:** An expression is a construct made up of variables, operators, and method invocations, which are constructed according to the syntax of the language, that evaluates to a single value. Expressions are representations of value.

#### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

**Ans:** An expression is any legal combination of symbols that represents a value. For example: 2.9, a + 5, (3 + 5) / 4. A statement is a programming instruction that does something i.e. some action takes place. For example: print("Hello World!")

#### 6. After running the following code, what does the variable bacon contain?

In [3]:
bacon = 22
bacon + 1

23

**Ans:** The variable bacon contains 22, after running the code above.

#### 7. What should the values of the following two terms be?

'spam' + 'spamspam' <br>
'spam' * 3

**Ans:** The values of two terms will be same.

In [14]:
'spam' + 'spamspam'

'spamspamspam'

In [15]:
'spam' * 3

'spamspamspam'

#### 8. Why is eggs a valid variable name while 100 is invalid?

**Ans:** eggs is a valid variable name while 100 is invalid bacause, variable name eggs is starting with alphabate 'e' while variable name 100 is starting with numerical value 1. The variable name should not start with a number.

#### 9.  What three functions can be used to get the integer, floating-point number, or string version of a value?

**Ans:** The int() , float() , and str( ) functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

#### 10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

**Ans:** This expression cause me an error bacause string and integer can not be concatenate with each other. I can fix it with typecasting operation using str() function or I'll put 99 in single quotes or double quotes.

In [21]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'

In [22]:
'I have eaten ' + '99' + ' burritos'

'I have eaten 99 burritos'

Both are same.